
.icon-clock:before { content: '\e800'; } /* '' */
.icon-hourglass:before { content: '\e801'; } /* '' */
.icon-check:before { content: '\e802'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */
.icon-help:before { content: '\e804'; } /* '' */
.icon-perf-confirmed:before { content: '\e805'; } /* '' */
.icon-perf-pending:before { content: '\e806'; } /* '' */
.icon-perf-canceled:before { content: '\e807'; } /* '' */