/**********
** Some layout
**********/
#content-wrapper {
  width: 100%;
  display: table;
  margin: 0;
}
#content-wrapper .region-content {
  width: 100%;
  display: table-cell;
  vertical-align: top;
}
#sidebar-first .region-sidebar-first,
#sidebar-second .region-sidebar-second {
    width: 400px;
}
#sidebar-first .region-sidebar-first {
  padding-right: 20px;
}
#sidebar-second .region-sidebar-second {
  padding-left: 20px;
}

/* Block, used for example inside sidebar in performance */
/* TODO : improve */
/*.block {*/
#block-bandbookingnodereminder {
  padding-bottom: 40px;
}
#band-booking-registration-form {
  padding-bottom: 20px;
}

/* Label font-size * /
.form-item label {
    font-size: 14px;
}
*/

/* Profile picture * /
.profile .user-picture { width: 100px; }
.profile .user-picture img { width: 100%; height: auto; }
*/

/**********
** Registrations list
**********/
form.bb-form-state { display: inline-block; }
form.bb-form-state input[type=submit] {
  font-family: fontello!important;
  margin-bottom: 0;
  margin-right: 1em;
  background: none;
  border: none;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  padding: 6px 10px;
}

/* Standby */
form.bb-form-state input[type=submit][data-drupal-selector=edit-standby] { background-color: #696969; }
form.bb-form-state input[type=submit][data-drupal-selector=edit-standby]:hover{ background-color: #4d4c4c; }

/* Accept */
form.bb-form-state input[type=submit][data-drupal-selector=edit-accept] { background-color: #4d8f46; }
form.bb-form-state input[type=submit][data-drupal-selector=edit-accept]:hover{ background-color: #35692f; }

/* Refuse */
form.bb-form-state input[type=submit][data-drupal-selector=edit-refuse] { background-color: #df4530; }
form.bb-form-state input[type=submit][data-drupal-selector=edit-refuse]:hover{ background-color: #bb3a28; }


/* ---------- Registrations ---------- */

/* Ation différence entre regist-lst et regist-list * /
.regist-lst tr a {
  font-size: 18px;
  font-weight: 300;
}
*/

/* The same for user registrations */
.view.view-band-booking-front-registrations {
  padding-bottom: 40px;
}
.view.view-band-booking-front-registrations table caption {
  text-align: left;
  font-size: 20px;
  line-height: initial;
  padding: 10px 0;
  margin: 30px 0 10px;
  font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
}
.view.view-band-booking-front-registrations table caption em {
  font-size: 0.8em;
}
/*
.view.view-id-registrations .determine-registration { display: inline-block; }
*/

/*Global colors for registration admin list */
.regist-list tr.waiting,
tr.blv-evt-waiting { background: #e4e4e4; border-top: #fafafa 1px solid; }
.regist-list tr.waiting:hover,
tr.blv-evt-waiting:hover { background-color: #fafafa; }
.regist-list tr.waiting td.active,
tr.blv-evt-waiting td.active { background-color: #ddd; }

.regist-list tr.accepted,
tr.blv-evt-accepted { background: #cfe6ae; border-top: #e8f5d6 1px solid; }
.regist-list tr.accepted:hover,
tr.blv-evt-accepted:hover { background-color: #e8f5d6; }
.regist-list tr.accepted a,
tr.blv-evt-accepted a { color: #799157; }
.regist-list tr.accepted td.active,
tr.blv-evt-accepted td.active { background-color: #bdd29e; }

.regist-list tr.refused,
tr.blv-evt-refused { background: #e6b3ae; border-top: #f8d6d3 1px solid; }
.regist-list tr.refused:hover,
tr.blv-evt-refused:hover { background-color: #f8d6d3; }
.regist-list tr.refused a,
tr.blv-evt-refused a { color: #915651; }
.regist-list tr.refused td.active,
tr.blv-evt-refused td.active { background-color: #d19b94; }

.regist-list tr.waiting:first-child,
tr.blv-evt-waiting:first-child,
.regist-list tr.accepted:first-child,
tr.blv-evt-accepted:first-child,
.regist-list tr.refused:first-child,
tr.blv-evt-refused:first-child { border-top: none; }

/*
.regist-lst .views-field-postpone-link{ width: 20%; text-align: right; }
*/

/* Admin full registration list VIEWS * /
.adm-regist-lst table caption {
  text-align: left;
  font-size: 20px;
  line-height: initial;
  padding: 10px 0;
  margin: 30px 0 10px;
  font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif;
}
.adm-regist-lst table td,
.adm-regist-lst table th {
  vertical-align: middle;
  padding: 1.5em;
  border: 0;
  color: #000;
}

.adm-regist-lst .views-field-view-registration a { display: inline-block; margin-right: 10px; }
.adm-regist-lst .views-field-state { width: 10%; }
.adm-regist-lst .views-field-name { width: 20%; }
.adm-regist-lst .views-field-title { width: 30%; }
.adm-regist-lst .views-field-view-registration { width: 20%; }
.adm-regist-lst .views-field-postpone-link{ width: 20%; text-align: right; }
.adm-regist-lst .determine-registration { display: inline-block; }

/* Columns for tables * /
@media only screen  and (min-width : 1224px) {
  .adm-regist-lst table.views-table {
    float: left;
    width: 48%;
    margin-right: 4%;
  }
  .adm-regist-lst table.views-table:nth-child(2n) {
    margin-right: 0;
  }
  .adm-regist-lst table.views-table:nth-child(2n+1) {
    clear: left;
  }
}

/*Admin last registrations* /
.regist-list tr.odd,
.regist-list tr.even { border: 1px solid black; border-left-width: 5px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; display: block; margin-top: 2px; }
.regist-list tr:first-child { margin-top: 0; }
.regist-list tr.waiting { border-color: #bebebe; }
.regist-list tr.postponed { border-color: #f9b815; }
.regist-list tr.accepted { border-color: #99c45c; }
.regist-list tr.refused { border-color: #d76b60; }



/* Bootstrap Multiselect */
/*ul.multiselect-container {
    list-style: none;
    margin: inherit;
}*/

/* Ajax throbber * /

.ajax-progress-throbber {
    position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 3000; background-color: rgba(0, 0, 0, 0.3);
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    text-align: center;
}
.ajax-progress-throbber .throbber,
.ajax-progress-throbber .message {
    position: absolute; left: 50%; top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.ajax-progress-throbber .message {
    margin-top: 20px;
}

/*
.progress-disabled {
    float: none;
    display:inline;
}

.ajax-progress {
    float: none;
    display:inline;
}
.ajax-progress .throbber {
    background: transparent url('../images/custom.gif') no-repeat;
    float: none;
    height: 15px;
    margin: 2px;
    width: 15px;
    display:inline-block;
}
tr .ajax-progress .throbber {
    margin: 0 2px;
}
.ajax-progress-bar {
    width: 16em;
}
*/
