/**
  Custom field confirmation (performance node).
  TODO : create a special node css.
 */
.field--name-field-confirm {
  /*
  float: left;
  padding: 2em 3em 0 2em;
  */
}
.field--name-field-confirm span.icon {
  font-size: 6em;
}
.field--name-field-confirm span.icon-perf-optional {
  color: #696969;
}
.field--name-field-confirm span.icon-perf-confirmed {
  color: #4d8f46;
}
.field--name-field-confirm span.icon-perf-canceled {
  color: #df4530;
}

/* Global for node */
.node hr { margin: 20px 0; }

/**
  Performance node.
 */
.node--type-performance.node--view-mode-full .node__content {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  padding: 2em 3em 2em 2em;
}
.node--type-performance.node--view-mode-full .group-main {
  flex: 1 1 auto;
}
.node--type-performance.node--view-mode-full .field--name-body {
  margin-top: 3em;
  margin-bottom: 3em;
}
.node--type-performance.node--view-mode-full .field--name-field-confirm {
  padding-right: 2em;
}
.node--type-performance.node--view-mode-full .group-main .addtocal-container {
  float: none;
  margin: 20px 0 0;
}
@media only screen  and (min-width : 1224px) {
  .node--type-performance.node--view-mode-full .group-main .addtocal-container {
    float: right;
    margin: -15px 0 10px;
  }
}

/* User picture in node */
.node .field--name-user-picture { float: left; width: 100px; margin: 0 20px 20px 0; }
.node .field--name-user-picture img { width: 100%; height: auto; }
